src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <!-- <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config> -->
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="e4fd1c58-2870-4d99-a183-7caee43f35ef" >
		<salesforce:basic-connection username="sunder.mahapatra@redrockinfotech.com" password="Spring202503!@#$" url="https://diu--diupoc.sandbox.my.salesforce.com/services/Soap/u/60.0" securityToken="oslWVNwUm0YbeagtV2XfpIYw"/>
	</salesforce:sfdc-config>
	<!-- [STUDIO:"api-main"]<flow name="api-main" doc:id="ed0d9b3a-88ab-42fb-8ecb-56a009b0b118">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}&#93;&#93;&#93;></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body><![CDATA[#[payload&#93;&#93;&#93;></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}&#93;&#93;&#93;></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="api-config" />
        <error-handler ref="global-error-handler" />
    </flow> [STUDIO] -->
    <!-- [STUDIO:"api-console"]<flow name="api-console" doc:id="6a8802af-9866-4c89-a806-321af21ec601">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body>#[payload&#93;</http:body>
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler ref="global-error-handler" />
    </flow> [STUDIO] -->
    <!-- [STUDIO:"get:\healthcheck:api-config"]<flow name="get:\healthcheck:api-config" doc:id="a213b596-2a04-47f1-9c9b-feaaf1253291">
        <flow-ref doc:name="get:\healthcheck:api-config" name="healthcheck" doc:id="ccafd942-de2f-4c98-9c12-2d27615609c9"/>
    </flow> [STUDIO] -->
    <!-- [STUDIO:"put:\id-validation:application\json:api-config"]<flow name="put:\id-validation:application\json:api-config" doc:id="e5165a99-9727-4016-810f-643cb91e8039">
        <logger level="INFO" doc:name="Logger" doc:id="259a147a-755c-43cb-8529-91e48182d284" message='#["Start time: #[now()&#93;"&#93;' />
		<flow-ref doc:name="put:\id-validation:api-config" name="global-cics-idvalidation-Flow" />
    </flow> [STUDIO] -->
	<flow name="test-flow" doc:id="ed908af5-01e4-4fbc-b54f-fa26a57e76d8">
		<scheduler doc:name="Scheduler" doc:id="3a37dc2d-90d0-4688-b996-5aaa6d8e9ccd">
			<scheduling-strategy>
				<fixed-frequency timeUnit="SECONDS" frequency="10000" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Start Logger" doc:id="4b579592-11a4-4725-9cb7-0bb6ea61840c" name="common-start-logger" />
		<salesforce:query doc:name="Query" doc:id="e154f4c8-559b-4dae-9706-88c8fd8d260a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[Select Id, Name from Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<flow-ref doc:name="End Logger" doc:id="147a5a75-1d4d-473c-97c4-3478f0c45114" name="common-end-logger" />
		<error-handler ref="global-error-handler" />
	</flow>

</mule>
